<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load mptt_tags %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/index2.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/main.js' %}">

</head>

<body>
<div class="topnav">
    <a class="active" href="#home">I3CH CODING SYSTEM</a>
    <a href="#home">Your are here:</a>
    <a class="active" id="showlocation">I3CH CODING SYSTEM</a>
    <a>
        <div id="fontSizeWrapper">
            <label for="fontSize">Font size</label>
            <input type="range" value="1" id="fontSize" step="0.5" min="0.5" max="5"/>
        </div>
    </a>
    <input type="text" placeholder="search...">
</div>
<ul class="tree js-treeview">
    {% recursetree categories %}
        <li>
            <input type="checkbox" checked id="{{ node.id }}"/>
            <label class="tree_label" for="{{ node.id }}" onclick="mylocation()"
            >{{ node.parent }}-{{ node.name }}</label>
            {% if node.type == 'Part' or node.type == 'MED' or node.type == 'MEDM' or node.type == 'ME' %}
                <div class="treeview__level-btns">
                    {% if  node.type != 'Part' %}
                        <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                        <div class="btn btn-default btn-sm level-remove"><span class="fa fa-trash text-danger"></span>
                        </div>
                        <div class="btn btn-default btn-sm level-sub"><a style="text-decoration: none"
                                                                         href="{% url 'coding:addsamelevel' node.id %}">Add
                            Sub Level</a></div>


                    {% else %}
                    <button  type="button" onclick="myFunction('{{node.id}}')" class="btn btn-light btn-sm">
                        <span class="fa fa-wpforms" ></span>
                      </button>
                        <!-- <div class="btn btn-default btn-sm"><span class="fa fa-wpforms" onclick="myFunction()"></span>
                        </div></a></div>
                        <div id="snackbar"></div> -->
                        
                    {% endif %}
                </div>
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p id="parentNodeInfo"></p>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<script src="{% static 'js/jquery.min.js' %}"></script>


<!-- Boostrap Js  -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/index2.js' %}"></script>
<script>
    function myFunction(nodeId) {
        $.ajax({
            url:'/get_parent_node/',
            type: 'GET',
            data : {
                'node_id': nodeId
            },
            success : function(response){
                $('#parentNodeInfo').text(response.parent_node_info);
                $('#exampleModal').modal('show');
            }
        })
        
        // let x = document.getElementById("snackbar");
        // x.className = "show";
        // setTimeout(function () {
        //     x.className = x.className.replace("show", "");
        // }, 1000);
    }
</script>

<script>
    function mylocation() {
        var loc = document.getElementById('location');
        console.log(loc);
    }
</script>
</body>
