<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load mptt_tags %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="body genealogy-body genealogy-scroll">
    <div class="genealogy-tree">
        <ul class="root">
            {% recursetree categories %}
                <li style="cursor: pointer;">
                    <div class="member">
                        <a href="javascript:void(0);">
                            <div class="member-view-box">
                                <div class="member-image">
                                    <div class="member-details d-flex">
                                        <h3 style="padding: 5px">{{ node.name }}</h3>
                                        {% if not node.is_leaf_node and node.type == 'assem' %}
                                            <button class="btn btn-primary btn-sm">+</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Boostrap Js  -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>