<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load mptt_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="fontSizeWrapper">
    <label for="fontSize">Font size</label>
    <input type="range" value="1" id="fontSize" step="0.5" min="0.5" max="5"/>
</div>
<ul class="tree">
    <li>
            {% recursetree categories %}
            <li>
                {{ node.name }}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}</label>
    </li>
</ul>


</ul>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Boostrap Js  -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>